<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Gerenciador de Produtos</title>
</head>
<body>
<div align="center">
    <h1>Lista de Produto</h1>
    <a href="/new">Adicione um novo produto</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Produto ID</th>
                <th>Nome</th>
                <th>Marca</th>
                <th>Fabricação</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${listProducts}">
                <td th:text="${product.id}">Produto ID</td>
                <td th:text="${product.name}">Nome</td>
                <td th:text="${product.brand}">Marca</td>
                <td th:text="${product.madein}">Fabricação</td>
                <td th:text="${product.price}">Preço</td>
                <td>
                    <a th:href="/@{'/edit/' + ${product.id}}">Editar</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="/@{'/delete/' + ${product.id}}">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>